body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    margin: 20px auto; /* Diminui a margem superior para reduzir o espaço entre o topo da página e o conteúdo */
    width: 320px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input, select, button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#download {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

#download:hover {
    background-color: #1e7e34;
}

.hidden {
    display: none;
}

/* Reduzindo o espaçamento entre o título e o formulário */
h2 {
    margin-bottom: 20px; /* Ajusta a margem inferior para um valor menor */
}

/* Ajusta o espaçamento entre as seções */
.card {
    margin-bottom: 15px; /* Diminui o espaço entre os cards */
}

/* Ajustando o espaçamento do cabeçalho */
header img {
    max-width: 200px;
    margin-bottom: 20px; /* Ajusta o espaçamento abaixo do logo */
}
