/* Corpo e fundo */
body {
    background-color: #f4f4f4; /* Fundo neutro */
    font-family: 'Roboto', sans-serif;
    color: #333; /* Texto escuro para boa legibilidade */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
header img {
    max-width: 150px;
    margin-bottom: 20px;
}

/* Container principal */
.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 30px;
    background-color: #fff; /* Fundo branco para destacar conteúdo */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h2 {
    font-weight: 700;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

/* Botões */
button, .btn-outline-primary {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #000000;
}

#download {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

#download:hover {
    background-color: #1e7e34;
}

/* Formulários */
input[type="file"], select {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Progresso */
progress {
    border-radius: 5px;
    height: 20px;
    width: 100%;
    background-color: #f0f0f0;
}

progress[value] {
    color: #4caf50; /* Cor verde quando progresso é visível */
}

/* Links */
a {
    text-decoration: none;
    color: #28a745; /* Verde para destaque */
}

a:hover {
    color: #218838;
}

/* Footer */
footer {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer .adsbygoogle {
    margin-top: 10px;
}
